.form {
  border: 1px solid black;
  padding: 25px;
}
.heading {
  margin: 0;
  font-size: 3rem;
}
.label {
  display: block;
  font-size: 1.5rem;
  margin-top: 15px;
}
.input {
  margin-top: 12px;
  display: block;
  border: 1.5px solid black;
  font-size: 1.2rem;
  border-radius: 0.25rem;
}
.button {
  width: 10rem;
  height: 2rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.25rem;
}
